@media (max-width: 1024px){
    .nav ul li a{
        font-size: map-get($tamanio-fuente, lgmd);
    }
    div.container-md{
        p{
            font-size: map-get($tamanio-fuente, mdsm);
            margin: 1rem;
        }
        h2{
            font-size: map-get($tamanio-fuente, lgmd);
            margin: 1rem;
        }
    }
    .special{
        width: 250px;
    }
    div.alerta p{
        font-size: map-get($tamanio-fuente, lg);
    }
    .follow-rs a img{
        width: 50px;
    }
}