
$colores:(
    color1: #4e8e9a,
    color2: #abb247,
    color3: #7c255c,
    color4: #e3c759,
    color5: red,
    color6: black,
    color7: white,
    color8: #9aff98,
);

$tamanio-fuente:(
    smsm: 0.5rem,
    sm: 0.625rem,
    smmd: 0.75rem,
    mdsm: 0.875rem,
    md: 1rem,
    mdlg: 1.125rem,
    lgmd: 1.25rem,
    lg: 1.5rem,
    lglg: 2rem,
);