/* Tipografias

     font-family: "Iceland", sans-serif;
     font-family: "Kalam", cursive;
     font-family: "Permanent Marker", cursive;
*/

  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');